body {
  margin: 0 auto;
  box-sizing: border-box;
  width: 70%;
}

img {
  width: 23%;
  height: 23%;
}

h1,
span,
button:hover,
.result,
.message {
  color: chocolate;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

label,
select,
option,
.result {
  color:#595260;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.degree-input,
.selectedTemp-input {
  margin: 8px auto;
}

input {
  height: 1.5em;
}

select {
  height: 2em;
  width: 9.5em;
}

button {
  font-size: 1rem;
  background-color: chocolate;
  color: antiquewhite;
  margin: 0 auto;
  margin-top: 1.5rem;
  height: 2.5rem;
  width: 20%;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.result {
  font-weight: bold;
  font-size: 2.7rem;
  margin-top: 2.5rem;
  margin-bottom: 1.45rem;
}

.message {
  margin: 1.5rem auto;
  padding: 0;
  font-size: 1.2rem;
  font-style: italic;
}

footer {
  position: absolute;
  left: 1.5em;
  bottom: 0;
  margin-left: auto;
}